.container { width: 300px; /* Adjust the width to make it bigger */ 
    padding: 30px; /* Add padding for content */
     border-radius: 20px; /* Adds rounded corners */ 
     background-color: #ffffff; /* White box */
     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */ }
.custom-button {
    background-color: #198867 ; 
    width: 300px;
    color: white ;
    border: none ;
    padding: 10px 20px ;
    border-radius: 10px ;
    font-size: 16px ;
    cursor: pointer;
}
h2{
    padding: 0px;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 0px;
}

.custom-button:hover {
    background-color: #0d360f; /* Darker green on hover */
}
.custom-input {
    width: 280px;                 /* Make it responsive */
    padding: 10px;               /* Add spacing inside the input */
    border: 2px solid #198867;   /* Blue border */
    border-radius: 10px;         /* Rounded corners */
    font-size: 16px;             /* Increase text size */
    color: #333;                 /* Darker text color */
    background-color: #f8f9fa;   /* Light grey background */
    transition: all 0.3s ease;   /* Smooth transition for hover/focus */
}
.password-hint { position: relative; 
    top: 0; color: #000; margin-top: -20px; padding-bottom: 20px;
}
.mission { 
    color: white; background-color: black; position: absolute; top: 0; right: 0; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2em
}
